body {
    display: contents;
}

.navbar {
    margin: 20px;
}

.navbar .right {
    float: right;
}

.nav-item {
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-size: 13px;
}

.nav-item:hover {
    text-decoration: underline;
}

.main {
    margin-top: 300px;
    text-align: center;
}

.input-area {
    margin-top: 20px;
}

.input-box {
    width: 584px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-left: 40px;
    padding-right: 40px;
}

.search-icon {
    position: relative;
    left: 40px;
    color: #9aa0a6;
}

.mic-icon {
    position: relative;
    right: 40px;
    color: #9aa0a6;
}

.button-area {
    padding-top: 18px;
}

.button-style {
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
}

.button-style:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.language-area {
    margin-top: 18px;
}

.language-area a {
    text-decoration: none;
    padding: 0 3px;
    color: #1a0dab;
}

.language-area a:hover {
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0px;
    background: #f2f2f2;
    width: 100%;
}

.first-line {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #202124;
}

.second-line {
    padding: 15px 30px;
    font-size: 15px;
}

.second-line-second {
    float: right;
}

.second-line a {
    text-decoration: none;
    padding-right: 15px;
    color: #202124;
}

.second-line a:hover {
    text-decoration: underline;
}